extends layout

block content
  h1= title
  
  p 
  if leadInfo
    table.contact-info-table
      tr
        th First Name
        td= leadInfo.firstName ? leadInfo.firstName : 'N/A'          
      tr
        th Last Name
        td= leadInfo.lastName ? leadInfo.lastName : 'N/A'
      tr
        th Company
        td= leadInfo.company ? leadInfo.company : 'N/A'
      tr
        th Email
        td= leadInfo.email ? leadInfo.email : 'N/A'            
      tr
        th Phone
        td= leadInfo.phone ? leadInfo.phone : 'N/A'
      
      - var isPrintRequired = leadInfo.isPrintHR === 'true' || leadInfo.isPrintBOD === 'true' || leadInfo.isPrintSC === 'true' || leadInfo.isPrintEidos === 'true' || leadInfo.isPrintCL === 'true' || leadInfo.isPrintDS === 'true' || leadInfo.isPrintColorJet === 'true' || leadInfo.isPrintOther === 'true';

      if isPrintRequired
        table.print-tech-table
          tr
            td(class=leadInfo.isPrintHR === 'true' ? 'selected' : '') HR
            td(class=leadInfo.isPrintBOD === 'true' ? 'selected' : '') BOD
            td(class=leadInfo.isPrintSC === 'true' ? 'selected' : '') SC
            td(class=leadInfo.isPrintEidos === 'true'? 'selected' : '') Eidos
          tr
            td(class=leadInfo.isPrintCL === 'true' ? 'selected' : '') CL
            td(class=leadInfo.isPrintDS === 'true' ? 'selected' : '') DS
            td(class=leadInfo.isPrintColorJet === 'true' ? 'selected' : '') ColorJet
            td(class=leadInfo.isPrintDOD === 'true' ? 'selected' : '') DOD

      // Add more fields as necessary
  else
    p No contact information available.

  //- if isSuccess
  //-   p Scan was successful!
  //- else 
  //-   h2 Automation Error 
  //-   if message
  //-     pre= JSON.stringify(message, null, 2)
  //-   else 
  //-     p An unknown error occurred.

  // Buttons
  table.buttons
        tr
          td 
            a(href='/')
              button Back to Home     
          td 
            a(href='/print')
              button Print             
          
  
