extends layout

block content
  h1= title
  
  p 
  if leadInfo
    table.contact-info-table
      //- tr
      //-   th First Name
      //-   td= leadInfo.firstName ? leadInfo.firstName : 'N/A'          
      //- tr
      //-   th Last Name
      //-   td= leadInfo.lastName ? leadInfo.lastName : 'N/A'
      tr
        th Client Name
        td= leadInfo.clientName ? leadInfo.clientName : 'N/A'          
      tr
        th Company
        td= leadInfo.company ? leadInfo.company : 'N/A'
      tr
        th Job Title
        td= leadInfo.jobTitle ? leadInfo.jobTitle : 'N/A'        
      tr
        th Email
        td= leadInfo.email ? leadInfo.email : 'N/A'            
      tr
        th Phone
        td= leadInfo.phone ? leadInfo.phone : 'N/A'
      tr
        th Province
        td= leadInfo.province ? leadInfo.province : 'N/A'
      tr
        th Country
        td= leadInfo.country ? leadInfo.country : 'N/A'

      - var isPrintRequired = leadInfo.isPrintHR === 'true' || leadInfo.isPrintBOD === 'true' || leadInfo.isPrintSC === 'true' || leadInfo.isPrintEidos === 'true' || leadInfo.isPrintCL === 'true' || leadInfo.isPrintDS === 'true' || leadInfo.isPrintColorJet === 'true' || leadInfo.isPrintDOD === 'true';

      if isPrintRequired
        table.print-tech-table
          tr
            td(class=leadInfo.isPrintHR === 'true' ? 'selected' : '') HR
            td(class=leadInfo.isPrintBOD === 'true' ? 'selected' : '') BOD
            td(class=leadInfo.isPrintSC === 'true' ? 'selected' : '') SC
            td(class=leadInfo.isPrintEidos === 'true'? 'selected' : '') Eidos
          tr
            td(class=leadInfo.isPrintCL === 'true' ? 'selected' : '') CL
            td(class=leadInfo.isPrintDS === 'true' ? 'selected' : '') DS
            td(class=leadInfo.isPrintColorJet === 'true' ? 'selected' : '') ColorJet
            td(class=leadInfo.isPrintDOD === 'true' ? 'selected' : '') DOD

      // Add more fields as necessary
  else
    p No contact information available.

  //- if isSuccess
  //-   p Scan was successful!
  //- else 
  //-   h2 Automation Error 
  //-   if message
  //-     pre= JSON.stringify(message, null, 2)
  //-   else 
  //-     p An unknown error occurred.

  // Buttons
  table.buttons
        tr
          td 
            a(href='/')
              button Back to Home     
          td 
            // Print button with parameters
            a(href=`/print?firstName=${leadInfo.firstName !== 'N/A' ? leadInfo.firstName : ''}&lastName=${leadInfo.lastName !== 'N/A' ? leadInfo.lastName : ''}&clientName=${leadInfo.clientName !== 'N/A' ? leadInfo.clientName : ''}&company=${leadInfo.company !== 'N/A' ? leadInfo.company : ''}&province=${leadInfo.province !== 'N/A' ? leadInfo.province : ''}&country=${leadInfo.country !== 'N/A' ? leadInfo.country : ''}&jobTitle=${leadInfo.jobTitle !== 'N/A' ? leadInfo.jobTitle : ''}&email=${leadInfo.email !== 'N/A' ? leadInfo.email : ''}&phone=${leadInfo.phone !== 'N/A' ? leadInfo.phone : ''}&isPrintHR=${leadInfo.isPrintHR}&isPrintBOD=${leadInfo.isPrintBOD}&isPrintSC=${leadInfo.isPrintSC}&isPrintEidos=${leadInfo.isPrintEidos}&isPrintCL=${leadInfo.isPrintCL}&isPrintDS=${leadInfo.isPrintDS}&isPrintColorJet=${leadInfo.isPrintColorJet}&isPrintDOD=${leadInfo.isPrintDOD ? leadInfo.isPrintDOD : false}`)
              button Print            
          
  
