extends layout

block content
  h1= title

  if contactInfo
    table.contact-info-table
      tr
        th First Name
        td= contactInfo.FirstName        
        tr
        th Last Name
        td= contactInfo.LastName
      tr
        th Company
        td= contactInfo.Company
      tr
        th Email
        td= contactInfo.Email      
      tr
        th Phone
        td= contactInfo.Phone
      // Add more fields as necessary
  else
    p No contact information available.

  if isSuccess
    p Scan was successful!
  else 
    h2 Automation Error 
    if message
      pre= JSON.stringify(message, null, 2)
    else 
      p An unknown error occurred.

  // Back to Home button
  a(href='/')
    button Back to Home

//- // Add some custom styles for the contact info table
//- style.
//-   .contact-info-table {
//-     width: 100%;
//-     border-collapse: collapse;
//-     margin-bottom: 20px;
//-   }
//-   .contact-info-table th, .contact-info-table td {
//-     border: 1px solid #ddd;
//-     padding: 8px;
//-   }
//-   .contact-info-table th {
//-     background-color: #f2f2f2;
//-     text-align: left;
//-   }
//-   .contact-info-table tr:nth-child(even) {
//-     background-color: #f9f9f9;
//-   }
//-   .contact-info-table tr:hover {
//-     background-color: #ddd;
//-   }